/* Cambiar el fondo del panel a gris */
.dg {
    background-color:transparent;
  }
  
  /* Redondear las esquinas del panel */
  .dg .main {
    border-radius: 10px;
  }
  
  /* Estilo para el título de las opciones */
  .dg .property-name {
    font-weight: bold;
    color: #ffffff; /* Cambiar el color del texto del título */
  }
  
  /* Cambiar el color de fondo de la lista de opciones */
  .dg ul {
    background-color: #e0e0e0;
  }
  
  /* Estilo para los selectores */
  .dg .selector {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    color: #333; /* Cambiar el color del texto del selector */
  }
  
  /* Estilo para los botones */
  .dg .button {
    background-color: #0077cc; /* Cambiar el color de fondo del botón */
    color: #fff; /* Cambiar el color del texto del botón */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Estilo para el área desplegable de opciones */
  .dg .cr {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
  }
  
  /* Cambiar el color del texto de las opciones */
  .dg .slider input[type="number"] {
    color: #0077cc; /* Cambiar el color del número en los sliders */
  }
  
  /* Cambiar el color del texto en los input de texto */
  .dg input[type="text"] {
    color: #333;
  }

  .dg .cr.folder {
    border-radius: 10px; /* Redondear las carpetas */
  }

  